[Unit]
Description=Tomcat8540
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=oneshot
ExecStart=/usr/share/tomcat/apache-tomcat-8.5.43/bin/startup.sh
ExecStop=/usr/share/tomcat/apache-tomcat-8.5.43/bin/shutdown.sh
ExecReload=/bin/kill -s HUP $MAINPID
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
